{% extends "base.html" %}

{% block title %}Videos - Prof. Elijahd{% endblock %}

{% block content %}
<h1>Videos</h1>
<p>Explore our collection of videos.</p>

<!-- Main Content -->
  <div class="container my-5">
    <h1 class="video-title">Masomo kwa njia ya video</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
      <!-- 1 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/sLM2UiTxT00" title="Muonekano Wa Mwanamke Kwenye Ulimwengu Wa Roho. Elijah A. David" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=sLM2UiTxT00" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/fFCUFsYpUA4" title="Mashambulizi Ya Shetani Dhidi Ya Ubora Wa Mahusiano. Mwl Elijah David" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=fFCUFsYpUA4" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/LGJCIeKP-2o" title="Mashambulizi ya Shetani dhidi ya ubora wa mahusiano. Sehemu ya Pili" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=LGJCIeKP-2o" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>
      <!-- 4 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/GyaJbzL0gc0" title="Mungu anatumia ubora wa mahusiano kama nafasi, Sehemu ya 3" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=GyaJbzL0gc0" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>
      <!-- 5 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/Rd2-DCumWvs" title="Kibali na kupendelewa" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=Rd2-DCumWvs" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>
      <!-- 6 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/CG1OsLXsxSw" title="Kuzivunja Kazi Za Ibilisi 05" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=CG1OsLXsxSw" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>
      <!-- 7 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/ZjmiZrW3RY0" title="Kuzivunja Kazi Za Ibilisi 04" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=ZjmiZrW3RY0" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>
      <!-- 8 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/KYZD4JfjI5M" title="Kuzivunja Kazi Za Ibilisi 03" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=KYZD4JfjI5M" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>
      <!-- 9 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/Lhn5AYMT7zA" title="Kuzivunja Kazi Za Ibilisi 02" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=Lhn5AYMT7zA" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>
      <!-- 10 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/YsRQCb-J6yI" title="Kuzivunja Kazi Za Ibilisi 01" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=YsRQCb-J6yI" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 11 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/mW1OGnwu8kA" title="Onyo Kuhusu Faraka 05" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=mW1OGnwu8kA" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 12 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/zHhsUkRNe0U" title="Onyo Kuhusu Faraka 04" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=zHhsUkRNe0U" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 13 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/uO-OC-1Dg6A" title="Nani Amekwambia 03" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=uO-OC-1Dg6A" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 14 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/dZ0c8s-5eXo" title="Nani amekwambia? 02" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=dZ0c8s-5eXo" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 15 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/a3b02oHdKcQ" title="Nani amekwambia?" allowfullscreen></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=a3b02oHdKcQ" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 16 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/fpYzG7T1Lnc" title="Onyo Kuhusu Faraka 03" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=fpYzG7T1Lnc" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 17 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/QpysYeZRjHQ" title="Onyo Kuhusu Faraka 02" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=QpysYeZRjHQ" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 18 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio‑16x9"><iframe src="https://www.youtube.com/embed/8aN2dlFYqVE" title="Onyo Kuhusu Faraka" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=8aN2dlFYqVE" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 19 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio‑16x9"><iframe src="https://www.youtube.com/embed/JMhWZbCFO3w" title="Chumba Cha Ndani Ep O1, Akili Ni Mlango" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=JMhWZbCFO3w" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 20 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio‑16x9"><iframe src="https://www.youtube.com/embed/ktZNJVPUx6c" title="Mungu anatumia ubora wa Mahusiano Sehemu ya 2" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=ktZNJVPUx6c" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 21 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio‑16x9"><iframe src="https://www.youtube.com/embed/ocmVDL2JfvE" title="Mungu Anatumia Ubora Wa Mahusiano Sehemu ya 1" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=ocmVDL2JfvE" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 22 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio‑16x9"><iframe src="https://www.youtube.com/embed/6-2y9tCynC0" title="Kushinda Katikati Ya Nyakati Za Hatari 01" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=6-2y9tCynC0" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 23 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio‑16x9"><iframe src="https://www.youtube.com/embed/CyQ7F1SSHkE" title="Kushinda Katikati Ya Nyakati Za Hatari 02" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=CyQ7F1SSHkE" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>

      <!-- 24 -->
      <div class="col">
        <div class="card h-100">
          <div class="ratio ratio‑16x9"><iframe src="https://www.youtube.com/embed/W1OsQrF2GJc" title="Kushinda Katikati Ya Nyakati Za Hatari 03" allowfullscreen></iframe></div>
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=W1OsQrF2GJc" target="_blank" class="video-link">Watch on YouTube</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
